Introduction
You work for an environmental think tank called Repair Our Air (ROA). ROA is formulating policy recommendations to improve the air quality in America, using the Environmental Protection Agency's Air Quality Index (AQI) to guide their decision making. An AQI value close to 0 signals "little to no" public health concern, while higher values are associated with increased risk to public health.

They've tasked you with leveraging AQI data to help them prioritize their strategy for improving air quality in America.

ROA is considering the following decisions. For each, construct a hypothesis test and an accompanying visualization, using your results of that test to make a recommendation:

ROA is considering a metropolitan-focused approach. Within California, they want to know if the mean AQI in Los Angeles County is statistically different from the rest of California.
With limited resources, ROA has to choose between New York and Ohio for their next regional office. Does New York have a lower AQI than Ohio?
A new policy will affect those states with a mean AQI of 10 or greater. Can you rule out Michigan from being affected by this new policy?
For your analysis, you'll default to a 95% level of significance.

In [ ]:
import pandas as pd
import numpy as np
from scipy import stats

In [ ]:
pd.read_csv("c4 epa air dataset.csv")

,Unnamed: 0,date_local,state_name,county_name,city_name,local_site_name,parameter_name,units_of_measure,arithmetic_mean,aqi
0,0,2018-01-01,Arizona,Maricopa,Buckeye,BUCKEYE,Carbon monoxide,Parts per million,0.473684,7
1,1,2018-01-01,Ohio,Belmont,Shadyside,Shadyside,Carbon monoxide,Parts per million,0.263158,5
2,2,2018-01-01,Wyoming,Teton,Not in a city,Yellowstone National Park - Old Faithful Snow ...,Carbon monoxide,Parts per million,0.111111,2
3,3,2018-01-01,Pennsylvania,Philadelphia,Philadelphia,North East Waste (NEW),Carbon monoxide,Parts per million,0.300000,3
4,4,2018-01-01,Iowa,Polk,Des Moines,CARPENTER,Carbon monoxide,Parts per million,0.215789,3
...,...,...,...,...,...,...,...,...,...,...
255,255,2018-01-01,District Of Columbia,District of Columbia,Washington,Near Road,Carbon monoxide,Parts per million,0.244444,3
256,256,2018-01-01,Wisconsin,Dodge,Kekoskee,HORICON WILDLIFE AREA,Carbon monoxide,Parts per million,0.200000,2
257,257,2018-01-01,Kentucky,Jefferson,Louisville,CANNONS LANE,Carbon monoxide,Parts per million,0.163158,2
258,258,2018-01-01,Nebraska,Douglas,Omaha,NaN,Carbon monoxide,Parts per million,0.421053,9
259,259,2018-01-01,North Carolina,Wake,Not in a city,Triple Oak,Carbon monoxide,Parts per million,0.188889,2

In [ ]:
ads = pd.read_csv("c4 epa air dataset.csv")

show a sample of data
"Use describe() to summarize AQI"For a more thorough examination of observations by state use values_counts()")

In [ ]:
print(ads.head())
print(ads.describe(include='all'))
print(ads['state_name'].value_counts())

   Unnamed: 0  date_local    state_name   county_name      city_name  \
0           0  2018-01-01       Arizona      Maricopa        Buckeye
1           1  2018-01-01          Ohio       Belmont      Shadyside
2           2  2018-01-01       Wyoming         Teton  Not in a city
3           3  2018-01-01  Pennsylvania  Philadelphia   Philadelphia
4           4  2018-01-01          Iowa          Polk     Des Moines

                                     local_site_name   parameter_name  \
0                                            BUCKEYE  Carbon monoxide
1                                          Shadyside  Carbon monoxide
2  Yellowstone National Park - Old Faithful Snow ...  Carbon monoxide
3                             North East Waste (NEW)  Carbon monoxide
4                                          CARPENTER  Carbon monoxide

    units_of_measure  arithmetic_mean  aqi
0  Parts per million         0.473684    7
1  Parts per million         0.263158    5
2  Parts per million         0.111111    2
3  Parts per million         0.300000    3
4  Parts per million         0.215789    3
        Unnamed: 0  date_local  state_name  county_name      city_name  \
count   260.000000         260         260          260            260
unique         NaN           1          52          149            190
top            NaN  2018-01-01  California  Los Angeles  Not in a city
freq           NaN         260          66           14             21
mean    129.500000         NaN         NaN          NaN            NaN
std      75.199734         NaN         NaN          NaN            NaN
min       0.000000         NaN         NaN          NaN            NaN
25%      64.750000         NaN         NaN          NaN            NaN
50%     129.500000         NaN         NaN          NaN            NaN
75%     194.250000         NaN         NaN          NaN            NaN
max     259.000000         NaN         NaN          NaN            NaN

       local_site_name   parameter_name   units_of_measure  arithmetic_mean  \
count              257              260                260       260.000000
unique             253                1                  1              NaN
top            Kapolei  Carbon monoxide  Parts per million              NaN
freq                 2              260                260              NaN
mean               NaN              NaN                NaN         0.403169
std                NaN              NaN                NaN         0.317902
min                NaN              NaN                NaN         0.000000
25%                NaN              NaN                NaN         0.200000
50%                NaN              NaN                NaN         0.276315
75%                NaN              NaN                NaN         0.516009
max                NaN              NaN                NaN         1.921053

               aqi
count   260.000000
unique         NaN
top            NaN
freq           NaN
mean      6.757692
std       7.061707
min       0.000000
25%       2.000000
50%       5.000000
75%       9.000000
max      50.000000
California              66
Arizona                 14
Ohio                    12
Florida                 12
Texas                   10
New York                10
Pennsylvania            10
Michigan                 9
Colorado                 9
Minnesota                7
New Jersey               6
Indiana                  5
North Carolina           4
Massachusetts            4
Maryland                 4
Oklahoma                 4
Virginia                 4
Nevada                   4
Connecticut              4
Kentucky                 3
Missouri                 3
Wyoming                  3
Iowa                     3
Hawaii                   3
Utah                     3
Vermont                  3
Illinois                 3
New Hampshire            2
District Of Columbia     2
New Mexico               2
Montana                  2
Oregon                   2
Alaska                   2
Georgia                  2
Washington               2
Idaho                    2
Nebraska                 2
Rhode Island             2
Tennessee                2
Maine                    2
South Carolina           1
Puerto Rico              1
Arkansas                 1
Kansas                   1
Mississippi              1
Alabama                  1
Louisiana                1
Delaware                 1
South Dakota             1
West Virginia            1
North Dakota             1
Wisconsin                1
Name: state_name, dtype: int64

From data exploration above, what do you recognize?¶
You have county-level data for the first hypothesis.
Ohio and New York both have a higher number of observations to work with in this dataset.

Before you proceed, recall the following steps for conducting hypothesis testing:

Formulate the null hypothesis and the alternative hypothesis.
Set the significance level.
Determine the appropriate test procedure.
Compute the p-value.
Draw your conclusion.

# HYPOTHESIS 1

 ROA is considering a metropolitan-focused approach. Within California, they want to know if the mean AQI in Los Angeles County is statistically different from the rest of California

In [ ]:
ca_la = ads[ads['county_name']=='Los Angeles']
ca_other = ads[(ads['state_name']=='California') & (ads['county_name']!='Los Angeles')]

Formulate your null and alternative hypotheses:

𝐻0
 : There is no difference in the mean AQI between Los Angeles County and the rest of California.
𝐻𝐴
 : There is a difference in the mean AQI between Los Angeles County and the rest of California.

we will use 95% as the significant level

In [ ]:
significance_level = 0.95
significance_level

0.95

Determine the appropriate test procedure:
Here, you are comparing the sample means between two independent samples. Therefore, you will utilize a two-sample 𝑡-test.

Compute the P-value

In [ ]:
stats.ttest_ind(a=ca_la['aqi'], b=ca_other['aqi'], equal_var=False)

Ttest_indResult(statistic=2.1107010796372014, pvalue=0.049839056842410995)

Question 2. What is your P-value for hypothesis 1, and what does this indicate for your null hypothesis?
With a p-value (0.049) being less than 0.05 (as your confidence level is 95%), reject the null hypothesis in favor of the alternative hypothesis.

Therefore, a metropolitan strategy may make sense in this case.

# Hypothesis 2:
 With limited resources, ROA has to choose between New York and Ohio for their next regional office. Does New York have a lower AQI than Ohio?¶

In [ ]:
ny = ads[ads['state_name']=='New York']
ohio = ads[ads['state_name']=='Ohio']

Formulate your hypothesis:
Formulate your null and alternative hypotheses:

𝐻0
: The mean AQI of New York is greater than or equal to that of Ohio.
𝐻𝐴
: The mean AQI of New York is below that of Ohio.


significance level = 95%

Determine the appropriate test procedure:
Here, you are comparing the sample means between two independent samples in one direction. Therefore, you will utilize a two-sample 𝑡-test.

Compute the P-value¶

In [ ]:
tstat, pvalue = stats.ttest_ind(a=ny['aqi'], b=ohio['aqi'], alternative='less')
print(tstat)
print(pvalue)

-1.891850434703295
0.03654034300840755

# Question 3.
 What is your P-value for hypothesis 2, and what does this indicate for your null hypothesis?
With a p-value (0.030) being less than 0.05 (as your confidence level is 95%) and a t-statistic < 0 (-2.02), reject the null hypothesis in favor of the alternative hypothesis.

Therefore, you can conclude with 95% confidence that New York has a lower mean AQI than Ohio.

# Hypothesis 3:
# A new policy will affect those states with a mean AQI of 10 or greater. Can you rule out Michigan from being affected by this new policy?
Before proceeding with your analysis, it will be helpful to subset the data for your comparison.

In [ ]:
michigan = ads[ads['state_name']=='Michigan']

Formulate your hypothesis:
Formulate your null and alternative hypotheses here:

𝐻0
: The mean AQI of Michigan is less than or equal to 10.
𝐻𝐴
: The mean AQI of Michigan is greater than 10.




sugnificane level remains at 95%

Determine the appropriate test procedure:
Here, you are comparing one sample mean relative to a particular value in one direction. Therefore, you will utilize a one-sample 𝑡-test.

In [ ]:
tstat, pvalue = stats.ttest_1samp(michigan['aqi'], 10, alternative='greater')
print(tstat)
print(pvalue)

-1.7395913343286131
0.9399405193140109

# Question 4.
 What is your P-value for hypothesis 3, and what does this indicate for your null hypothesis?
With a p-value (0.060) being greater than 0.05 (as your confidence level is 95%) and a t-statistic < 0 (-1.73), fail to reject the null hypothesis.

Therefore, you cannot conclude with 95% confidence that Michigan's mean AQI is below 10.

Step 4. Results and Evaluation
Now that you've completed your statistical tests, you can consider your hypotheses and the results you gathered.

# Question 5.
Did your results show that the AQI in Los Angeles County was statistically different from the rest of California?
Yes, the results indicated that the AQI in Los Angeles County was in fact different from the rest of California.

# Question 6.
 Did New York or Ohio have a lower AQI?
Using a 95% significance level, you can conclude that New York has a lower AQI than Ohio based on the results.

# Question 7:
 Will Michigan be affected by the new policy impacting states with a mean AQI of 10 or greater?
Based on the tests, you would fail to reject the null hypothesis, meaning you can't conclude that the mean AQI is below 10. Thus, it is likely that Michigan would be affected by the new policy.

# Conclusion
What are key takeaways from this lab?

Even with small sample sizes, the variation within the data is enough to allow you to make statistically significant conclusions. You identified with 95% confidence that the Los Angeles mean AQI was stastitically different from the rest of California, and that New York does have a lower mean AQI than Ohio. However, you were unable to conclude with 95% confidence that Michigan's mean AQI was below 10.

# What would you consider presenting to your manager as part of your findings?

For each test, you would present the null and alternative hypothesis, then describe your conclusion and the resulting p-value that drove that conclusion. As the setup of t-test's have a few key configurations that dictate how you interpret the result, you would specify the type of test you chose, whether that tail was one-tail or two-tailed, and how you performed the t-test from stats.

# What would you convey to external stakeholders?

In answer to the research questions posed, you would convey the degree of confidence (95%) and your conclusion. Additionally, providing the sample statistics being compared in each case will likely provide important context for stakeholders to quickly understand the difference between your results.